/*STYLE GUIDE*/

:root {   
  /*COLORS*/
  --primary-color: #3dbfa6;
  --secondary-color: #ffffff;
  --terciary-color: #000000;
  --quaternary-color: #cccccc;

    /*FONTS*/
    --font-family: 'Helvetica', 'sans-serif';

  /*SIZING & SPACING*/
  --s: 10px;
  --m: 16px;
  --l: 200px;
  --xl: 40px;
}


html {
    background-color: var(--secondary-color);
    font-family: sans-serif;
    scroll-behavior: smooth;

  }
  
  body {
    margin: 0 auto;
    width: 100%;
    max-width: 80ch;
    padding: 1rem;
    line-height: 1.5;
    position: relative;
    font-family: var(--font-family);
    font-size: var(--m);
  }
  
  * {
    box-sizing: border-box;
  }
  

    /*SIZING & SPACING*/
  .navigationn {
    padding: 0;
    list-style: none;
    margin: 0; 
    background: rgb(0, 0, 0);
  }
  
  .navigationn a { 
    text-align: right; 
    padding: 10px;
    border-top: 1px solid rgba(255, 255, 255,0.3); 
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    color: white;
    display: block;
    text-decoration: none;
  }
  
  .navigationn a:hover {
    background: #3dbfa6;
  }





  
  h2 {
    margin: 1rem 0;
    font-size: var(--l);
    color: var(--primary-color);
    margin: 0;
    padding: 0;
    font-size: var(--m);
    color: #bb1515cc;
    position: relative;
  }

  h2:before {
    content: "Margarida Pereira";
    position: absolute;
    top: 0;
    left: 0;
    color: var(--primary-color);
    width: 0%;
    transition: 0.5s;
    transform: translateX(0);
    overflow: hidden;
  }
  
  h2:hover:before {
    width: 100%;
    transform: translateX(100);
  }

  h3 {
    margin: 1rem 0;
    font-size: 2.5rem;
    margin: 0;
    padding: 0;
    font-size: var(--m);
    color: var(--terciary-color);
    position: relative;
  }




  p{
    font-size: var(--m);
  }


  /* nav styles */

  .hamburger {
    padding-right: 20px;
    cursor: pointer;
    background-color: var(--terciary-color);
    display: flex;
    justify-content: space-around;
  }
  
  .hamburger .line {
    display: block;
    width: 40px;
    height: 5px;
    margin-bottom: 10px;
    background-color: var(--primary-color);
  }




.nav-links {
  width: 100%;
  top: 5rem;
  left: 48px;
  background-color: #000000;
  display: none;
  position: fixed;
  margin: 0;
}

.nav-links a {
  display: block;
  text-align: center;
  padding: 10px;
  text-decoration: none;
  font-size: 1.2rem;
  font-weight: regular;
  text-transform: bold;
}

.nav-links a:hover,
.nav-links a:focus {
  background-color: var(--primary-color);
}

.expanded {
  display: unset;
}

@media screen and (min-width: 600px) {
  .nav-links {
    margin-left: 5em;
    display: flex;
    position: static;
    width: auto;
    justify-content: space-around;
    background: var(--terciary-color);
    flex-direction: row;
  }
}

  @media screen and (min-width: 850px) {
    .nav-links {
      margin-left: 5em;
      display: flex;
      position: static;
      width: auto;
      justify-content: center;
      background: var(--terciary-color);
    }

/*

*/

  .nav-links a {
    display: inline-block;
    padding: 15px 20px;
  }

}

.hamburger {
  display: none;
  position: fixed;

}

/* Estilos do Botão 
.styled-button {
  background-color: var(--button-bg-color);
  color: var(--button-text-color);
  border: 2px solid var(--button-border-color);
  padding: var(--button-padding);
  border-radius: var(--button-border-radius);
  cursor: pointer;
  transition: background-color var(--transition-duration) ease, transform var(--transition-duration) ease;
  font-size: var(--button-font-size);
  font-weight: bold;
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
*/

/* trabalhos grelha */

.trabalhos {
  display: grid;
  gap: var(--spacing);
}

.trabalhos article {
  padding: 10px;
  border-radius: 10px;
  transition: 1s;
  margin: 20px;
  border: 5px solid rgba(255, 255, 255,0.3); 
}

.trabalhos article:hover {
  transform: scale(1.05);
}

/* Responsive Design */
@media (min-width: 600px) {
  .trabalhos {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 900px) {
  .trabalhos {
    grid-template-columns: repeat(3, 1fr);
  }
}

