---
import '../styles/global.css';
import BaseLayout from '../layouts/BaseLayout.astro';
const pageTitle = "novo Sobre Mim";
---
<BaseLayout PageTitle={pageTitle}>

    <h3>Margarida Pereira | Digital Product Designer</h3>

    <p>Focused on designing user-centered experiences, aiming to integrate sustainability into the design process. Infusing my work with creativity and a commitment to making a positive impact, I'm passionate about sustainability and acro gymnastics.</p>
    </BaseLayout>