---
import '../styles/global.css';
import BaseLayout from '../layouts/BaseLayout.astro';
const pageTitle = "new page about";
---
<BaseLayout PageTitle={pageTitle}>

    <h3>Margarida Pereira | Digital Product Designer</h3>

    <p>Focused on designing user-centered experiences, aiming to integrate sustainability into the design process. Infusing my work with creativity and a commitment to making a positive impact, I'm passionate about sustainability and acro gymnastics.</p>

    <p>My name is Margarida Pereira, I'm 21 years old and I'm a communications designer. I have always been curious and creative, never indifferent to my surroundings and the causes I encounter. Design and art are a means of acting towards these causes. My biggest interests are Environmental Sustainability, Communication and Design. And here you will find individual and group projects, exploring physical and digital formats!</p>

    <h4>Education</h4>
    <p>Digital Experience Design, Postgraduate | Faculty of Fine Arts of University of Lisbon | 2023-2024</p>
    <p>Communication Design, Bachelor | Faculty of Fine Arts of University of Lisbon | 2020-2023</p>

    <h4>Expertise and skills</h4>
    <p>User and Desk Research
        Interface Design
        UX and Interaction Design
        Interviews and Usability Testing
        Wireframing
        Design System
        Prototyping
        Personas and journey mapping
        Design Management 
        Communication
        Adaptability and empathy
        Teamwork
        Critical thinking
        Problem solving</p>

        <h4>Experience</h4>
        <p>Graphic Designer at TEDxLisboa | 2023-today</p>
        <p>Communication Designer - Freelance | 2021-today</p>

    </BaseLayout>
