---
import '../styles/global.css';
import BaseLayout from '../layouts/BaseLayout.astro';
const pageTitle = "novo Sobre Mim";
---
<BaseLayout PageTitle={pageTitle}>

    <h2>... e meu  site Astro!</h2>

    <p> sgdufwejk 123333</p>

    <p>Este site será atualizado enquanto eu completo mais desse tutorial, então continue verificando e veja como minha jornada está indo!</p>
    </BaseLayout>