---
import '../styles/global.css';
import BaseLayout from '../layouts/BaseLayout.astro';
const pageTitle = "novo Sobre Mim";
---
<BaseLayout PageTitle={pageTitle}>

    <h3>about Pereira | Digital Product Desig</h3>

    <p>O meu nome é Margarida Pereira, tenho 21 anos e sou designer de comunicação. Desde sempre irrequieta, curiosa e criativa, nunca indiferente ao meio que me rodeia e às causas que me cruzo. O design e a arte são meio para agir com essas causas. Os meus maiores interesses são a Sustentabilidade Ambiental, Comunicação e o Design. E aqui encontras projetos em individuais e de grupo, explorando formatos físicos e digitais!</p>

    <p>Este site será atualizado enquanto eu completo mais desse tutorial, então continue verificando e veja como minha jornada está indo!</p>
    </BaseLayout>