---
import '../styles/global.css';
import BaseLayout from '../layouts/BaseLayout.astro';
const pageTitle = "Meu Blog de Aprendizado sobre Astro"
---

<BaseLayout pageTitle={pageTitle}>
    <p>Aqui é onde postarei sobre minha jornada aprendendo Astro.</p>
    <ul>
      <li><a href="/posts/post-1/">Postagem 1</a></li>
      <li><a href="/posts/post-2/">Postagem 2</a></li>

    </ul>

    <h3> Trabalhos</h3>

<section class="trabalhos">
      <article>
        <h3>Leiva</h3>
        <figure>
          <img class="img" src="/public/Mockup" alt="Mockup Leiva">
          
          <figcaption>Leiva é uma proposta de festival que reúne Palestras, Oficinas e Demonstrações...</figcaption>
        </figure>
        <li><a href="/posts/post-3/">Postagem 3</a></li>
      </article>
  

      <article>
        <h3>Leiva</h3>
        <figure>
          <img class="img" src="public/Mockup Leiva Cartaz G.jpeg" alt="Mockup Leiva">
          <figcaption>Leiva é uma proposta de festival que reúne Palestras, Oficinas e Demonstrações...</figcaption>
        </figure>
      </article>

      <article>
        <h3>Leiva</h3>
        <figure>
          import
          <img class="img" src="assets/Mockup Leiva Cartaz G.jpeg" alt="Mockup Leiva">
          <figcaption>Leiva é uma proposta de festival que reúne Palestras, Oficinas e Demonstrações...</figcaption>
        </figure>
      </article>
</section>


</BaseLayout>