---
import '../styles/global.css';
import BaseLayout from '../layouts/BaseLayout.astro';
const pageTitle = "portfolio with projects"
---

<BaseLayout pageTitle={pageTitle}>

    <h3>Projects</h3>

    <section class="trabalhos">
      <article>
        <h3>Digital Product Design Projects</h3>
          <figure>
            <figcaption>Get into my UX/UI projects, start discover interation design now.</figcaption>
          </figure>
            <a href="/posts/post-1/">Acess here</a>
      </article>
  

      <article>
        <h3>Communication Design</h3>
        <figure>
          <figcaption>Exploring visual identitys through communication design.</figcaption>
        </figure>
          <a href="/posts/post-2/">Acess here</a>
      </article>

      <article>
        <h3>Poster Design</h3>
          <figure>
            <figcaption>Every poster tells a story, discover some here. </figcaption>
          </figure>
            <a href="/posts/post-3/">Acess here</a>
      </article>
  </section>

</section>


</BaseLayout>