---
import '../styles/global.css';
import BaseLayout from '../layouts/BaseLayout.astro';
const pageTitle = "Home Page";
---

<BaseLayout pageTitle={pageTitle}>
    <h3> Contactos </h2> 
      <p> Vamos conversar: <a href="https://linktr.ee/margarida.pereira"> clica aqui para mais informações!</a> </p>
    </h3>
  </BaseLayout>
