---
import '../styles/global.css';
import BaseLayout from '../layouts/BaseLayout.astro';
const pageTitle = "Home Page";
---

<BaseLayout pageTitle={pageTitle}>
  <h1>Margarida Pereira</h1>
  <h2>Digital Product Designer</h2>

  <h3>Hi! I am a digital product designer designer.</h3>

  <p>Focused on designing user-centered experiences, aiming to integrate sustainability into the design process. Infusing my work with creativity and a commitment to making a positive impact, I'm passionate about sustainability and acro gymnastics.</p>

  <p>My name is Margarida Pereira, I'm 21 years old and I'm a communications designer. I have always been restless, curious and creative, never indifferent to my surroundings and the causes I encounter. Design and art are a means of acting towards these causes. My biggest interests are Environmental Sustainability, Communication and Design. And here you will find individual and group projects, exploring physical and digital formats!</p>

  <div class="container">
  	<img src="public/poster_eco">
  	<div class="caption">
  		<h1>amazing caption</h1>
  		<p>you can write anything here!</p>
  	</div>
  </div>
  
</BaseLayout>