---
import '../styles/global.css';
import BaseLayout from '../layouts/BaseLayout.astro';
const pageTitle = "Home Page";
---

<BaseLayout pageTitle={pageTitle}>
  <h2>1 I am a digital product designer and a communication designer.
  </h2>
</BaseLayout>