---
import '../styles/global.css';
import BaseLayout from '../layouts/BaseLayout.astro';
const pageTitle = "Home Page";
---

<BaseLayout pageTitle={pageTitle}>
  <h1>Margarida Pereira</h1>
  <h2>Digital Product Designer</h2>

  <h3>Hi! I am a digital product designer designer.</h3>

  <p>Focused on designing user-centered experiences, aiming to integrate sustainability into the design process. Infusing my work with creativity and a commitment to making a positive impact, I'm passionate about sustainability and acro gymnastics.</p>

  <div class="container">
  	<img src="public/cultura.png">
  <div class="caption">
  		<h3>Poster</h3>
  		<p>View more on projects page :)</p>
  	</div>
  </div>
  
</BaseLayout>