---
---
<div class="nav-links">
    <a href="/">Home</a>
    <a href="/about/">About</a>
    <a href="/blog/">Projects</a>
    <a href="/contacts/">Contacts</a>

    <ul class="navigationn">
        <li><a href="assets/Artboard 7_1.png"></a></li>
        <li><a href="#ancorasobre">Sobre</a></li>
        <li><a href="#ancoratrabalhos">Trabalhos</a></li>
        <li><a href="#ancoracontactos">Contactos</a></li>
        <a href=ancoravoltar></a>
      </ul>


</div>